# Built files
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build/
/terminal-emulator/build/

# Binary caches
*.so.bak

# Log files
*.log
app/src/main/assets/opencode-server
